QDialog#LoginDialog {
    background-color: rgb(255,255,255);
}


RegisterDialog QLabel#error_tip[state = 'normal'] {
    color: green
}

RegisterDialog QLabel#error_tip[state = 'error'] {
    color: red
}

ResetPasswordDialog QLabel#error_tip[state="normal"] {
    color: green;
}

ResetPasswordDialog QLabel#error_tip[state="error"] {
    color: red;
}
