QDialog#LoginDialog {
    background-color: rgb(255,255,255);
}


RegisterDialog QLabel#error_tip[state = 'normal'] {
    color: green
}

RegisterDialog QLabel#error_tip[state = 'error'] {
    color: red
}

ResetPasswordDialog QLabel#error_tip[state="normal"] {
    color: green;
}

ResetPasswordDialog QLabel#error_tip[state="error"] {
    color: red;
}

LoginDialog QLabel#error_tip[state="normal"] {
    color: green;
}

LoginDialog QLabel#error_tip[state="error"] {
    color: red;
}

#side_bar{
  background-color:rgb(46,46,46);
}

#search_area{
     background-color:rgb(247,247,247);
}

#add_btn[state='normal'] {
  border-image: url(:/images/add_friend_normal.png);
}

#add_btn[state='hover'] {
  border-image: url(:/images/add_friend_hover.png);
}

#add_btn[state='pressed'] {
  border-image: url(:/images/add_friend_pressed.png);
}

#emoji_label[state='normal'] {
  border-image: url(:/images/smile.png);
}

#emoji_label[state='hover'] {
  border-image: url(:/images/smile_hover.png);
}

#emoji_label[state='pressed'] {
  border-image: url(:/images/smile_press.png);
}

#file_label[state='normal'] {
  border-image: url(:/images/filedir.png);
}

#file_label[state='hover'] {
  border-image: url(:/images/filedir_hover.png);
}

#file_label[state='pressed'] {
  border-image: url(:/images/filedir_press.png);
}

#send_btn[state='normal'] {
  background: #f0f0f0;
  color: #2cb46e;
  font-size: 16px; /* 设置字体大小 */
  font-family: "Microsoft YaHei"; /* 设置字体 */
  border-radius: 20px; /* 设置圆角 */
}

#send_btn[state='hover'] {
  background: #d2d2d2;
  color: #2cb46e;
  font-size: 16px; /* 设置字体大小 */
  font-family: "Microsoft YaHei"; /* 设置字体 */
  border-radius: 20px; /* 设置圆角 */
}

#send_btn[state='pressed'] {
  background: #c6c6c6;
  color: #2cb46e;
  font-size: 16px; /* 设置字体大小 */
  font-family: "Microsoft YaHei"; /* 设置字体 */
  border-radius: 20px; /* 设置圆角 */
}

#receive_btn[state='normal'] {
  background: #f0f0f0;
  color: #2cb46e;
  font-size: 16px; /* 设置字体大小 */
  font-family: "Microsoft YaHei"; /* 设置字体 */
  border-radius: 20px; /* 设置圆角 */
}

#receive_btn[state='hover'] {
  background: #d2d2d2;
  color: #2cb46e;
  font-size: 16px; /* 设置字体大小 */
  font-family: "Microsoft YaHei"; /* 设置字体 */
  border-radius: 20px; /* 设置圆角 */
}

#receive_btn[state='pressed'] {
  background: #c6c6c6;
  color: #2cb46e;
  font-size: 16px; /* 设置字体大小 */
  font-family: "Microsoft YaHei"; /* 设置字体 */
  border-radius: 20px; /* 设置圆角 */
}

#side_chat_label[state='normal'] {
  border-image: url(:/images/chat_icon.png);
}

#side_chat_label[state='hover'] {
  border-image: url(:/images/chat_icon_hover.png);
}

#side_chat_label[state='pressed'] {
  border-image: url(:/images/chat_icon_press.png);
}

#side_contact_label[state='normal'] {
  border-image: url(:/images/contact_list.png);
}

#side_contact_label[state='hover'] {
  border-image: url(:/images/contact_list_hover.png);
}

#side_contact_label[state='pressed'] {
  border-image: url(:/images/contact_list_press.png);
}

/*设置会话项样式*/
#chat_list {
    background-color: rgb(247,247,248);
    border: none;
}

#chat_list::item:selected {
    background-color: #d3d7d4;
    border: none;
    outline: none;
}

#chat_list::item:hover {
    background-color: rgb(206,207,208);
    border: none;
    outline: none;
}

#chat_list::focus {
    border: none;
    outline: none;
}

/*发送框样式*/
#chat_textEdit{
    background: #ffffff;
    border: none; /* 隐藏边框 */
    font-family: "Microsoft YaHei"; /* 设置字体 */
    font-size: 18px; /* 设置字体大小 */
    padding: 5px; /* 设置内边距 */
}

/*发送接收按钮框样式*/
#controlbtns_widget{
    background: #ffffff;
    border: none; /* 隐藏边框 */
}

/*聊天框标题样式*/
#title_label{
    font-family: "Microsoft YaHei";
    font-size: 18px;
    font-weight: normal;
}

/*聊天框标题栏样式*/
#title_widget{
    background: #E8E8E8;
}

/*聊天框工具栏样式*/
#tool_widget{
    background: #ffffff;
    border-bottom: 1px solid #ececec; /* 设置下边框颜色和宽度 */
}

/*聊天区域样式*/
QScrollArea {
    border: none;
    background-color: #E8E8E8;
}

QScrollArea > QWidget {
    background-color: #E8E8E8;
}

#chat_view {
    background-color: #DDDDDD;
    border: none; /* 隐藏边框 */
}

/*搜索框样式*/
#search_lineEdit {
  border: 0.5px solid gray;
  border-radius: 4px;
  padding: 2px;
}

#search_lineEdit:focus{
  border: 1px solid green;
  border-radius: 4px;
  padding: 2px;
}

#user_chatinfo_label{
    color:rgb(153,153,153);
    font-size: 12px;
    font-family: "Microsoft YaHei";
}

#user_name_label{
    color:rgb(0,0,0);
    font-size: 14px;
    font-weight: normal;
    font-family: "Microsoft YaHei";
}

#time_widget #time_label{
   color:rgb(140,140,140);
   font-size: 12px;
   font-family: "Microsoft YaHei";
}

QScrollBar:vertical {
    background: transparent; /* 将轨道背景设置为透明 */
    width: 8px; /* 滚动条宽度，根据需要调整 */
    margin: 0px; /* 移除滚动条与滑块之间的间距 */
}

QScrollBar::handle:vertical {
    background: rgb(173,170,169); /* 滑块颜色 */
    min-height: 10px; /* 滑块最小高度，根据需要调整 */
    border-radius: 4px; /* 滑块边缘圆角，调整以形成椭圆形状 */
}

QScrollBar::add-line:vertical, QScrollBar::sub-line:vertical {
    height: 0px; /* 移除上下按钮 */
    border: none; /* 移除边框 */
    background: transparent; /* 背景透明 */
}

QScrollBar::add-page:vertical, QScrollBar::sub-page:vertical {
    background: none; /* 页面滚动部分背景透明 */
}

/*搜索列表*/
#search_edit {
    border: 2px solid #f1f1f1;
}

/* 搜索框列表*/
#search_list {
    background-color: rgb(247,247,248);
    border: none;
}

#search_list::item:selected {
    background-color: #d3d7d4;
    border: none;
    outline: none;
}

#search_list::item:hover {
    background-color: rgb(206,207,208);
    border: none;
    outline: none;
}

#search_list::focus {
    border: none;
    outline: none;
}

#untouchableWidget {
    background-color: #eaeaea;
    border: none;
}

#addContact_icon {
    border-image: url(:/images/addtip.png);
}

#rightToward_icon{
 border-image: url(:/images/right_tip.png);
}

#tip_label{
  text-align: center;
  font-family: "Microsoft YaHei";
  font-size: 12pt;
}

/*搜索用户成功*/
#searchContactSuccessedDialog{
   background-color: #ffffff;
}

#name_label{
    font-size: 20px;
    font-family: "Microsoft YaHei";
}

searchContactSuccessedDialog #add_contact_btn[state='normal']{
    background: #07c160;
    color: #ffffff;
    font-size: 14px; /* 设置字体大小 */
    font-family: "Microsoft YaHei"; /* 设置字体 */
    border: 1px solid transparent;
    border-radius: 20px; /* 设置圆角 */
}

searchContactSuccessedDialog #add_contact_btn[state='hover']{
    background: #3bbb4b;
    color: #ffffff;
    font-size: 14px; /* 设置字体大小 */
    font-family: "Microsoft YaHei"; /* 设置字体 */
    border: 1px solid transparent;
    border-radius: 20px; /* 设置圆角 */
}

searchContactSuccessedDialog #add_contact_btn[state='pressed']{
   background: #05944a;
   color: #ffffff;
   font-size: 14px; /* 设置字体大小 */
   font-family: "Microsoft YaHei"; /* 设置字体 */
   border: 1px solid transparent;
   border-radius: 20px; /* 设置圆角 */
}

searchContactSuccessedDialog #cancel_btn[state='normal']{
    background: #07c160;
    color: #ffffff;
    font-size: 14px; /* 设置字体大小 */
    font-family: "Microsoft YaHei"; /* 设置字体 */
    border: 1px solid transparent;
    border-radius: 20px; /* 设置圆角 */
}

searchContactSuccessedDialog #cancel_btn[state='hover']{
    background: #3bbb4b;
    color: #ffffff;
    font-size: 14px; /* 设置字体大小 */
    font-family: "Microsoft YaHei"; /* 设置字体 */
    border: 1px solid transparent;
    border-radius: 20px; /* 设置圆角 */
}

searchContactSuccessedDialog #cancel_btn[state='pressed']{
   background: #05944a;
   color: #ffffff;
   font-size: 14px; /* 设置字体大小 */
   font-family: "Microsoft YaHei"; /* 设置字体 */
   border: 1px solid transparent;
   border-radius: 20px; /* 设置圆角 */
}


QDialog#FriendRequestDialog{
    border: 2px solid #f1f1f1;
    font-size: 14px;
    background: #f7f7f8;
}

QDialog#FriendRequestDialog QScrollArea#scrollArea{
    background: #f7f7f8;
    border: none;
}

QDialog#FriendRequestDialog QWidget#scrollAreaWidgetContents{
     background: #f7f7f8;
}

QDialog#FriendRequestDialog QLabel#title_label{
    font-family: "Microsoft YaHei";
    font-size: 16px;
    font-weight: normal;
}

QDialog#FriendRequestDialog QWidget#request_widget QLabel{
    color:rgb(140,140,140);
    font-size: 14px;
    font-family: "Microsoft YaHei";
    height: 25px;
}

QDialog#FriendRequestDialog QWidget#request_widget Customized_EditLine#request_lineEdit,
QDialog#FriendRequestDialog QWidget#request_widget Customized_EditLine#backup_lineEdit{
    border: 1px solid #f7f7f8;
    font-size: 14px;
    font-family: "Microsoft YaHei";
}

QDialog#FriendRequestDialog QWidget#request_widget Customized_EditLine#tags_lineEdit {
       border: none;
       font-size: 14px;
       font-family: "Microsoft YaHei";
}

QDialog#FriendRequestDialog QWidget#request_widget QLabel#moretags_icon{
    border-image: url(:/images/arowdown.png);
}

QDialog#FriendRequestDialog QWidget#request_widget Customized_Label#tagLabel[state='normal'] {
    padding: 2px;
    background: #e1e1e1;
    color: #1e1e1e;
    border-radius: 10px;
}

QDialog#FriendRequestDialog QWidget#request_widget Customized_Label#tagLabel[state='hover'] {
    padding: 2px;
    background: #e1e1e1;
    color: #1e1e1e;
    border-radius: 10px;
}

QDialog#FriendRequestDialog QWidget#request_widget Customized_Label#tagLabel[state='pressed'] {
    padding: 2px;
    background: #e1e1e1;
    color: #48bf56;
    border-radius: 10px;
}

QDialog#FriendRequestDialog QWidget#input_tip_widget {
    background: #d3eaf8;
}

QDialog#FriendRequestDialog QWidget#request_widget ChosenTag#chosenTag {
    background: #daf6e7;
    color: #48bf56;
    border-radius: 10px;
}

QDialog#FriendRequestDialog#request_widget TagLabel#tip_label {
    padding-left: 2px;
    color:rgb(153,153,153);
    font-size: 14px;
    font-family: "Microsoft YaHei";
}

QDialog#FriendRequestDialog tags_grid_widget {
   background: #fdfdfd;
}

Customized_Label#remove_label[state='normal'] {
    border-image: url(:/images/tipclose.png);
}

Customized_Label#remove_label[state='hover'] {
    border-image: url(:/images/tipclose.png);
}

Customized_Label#remove_label[state='pressed'] {
    border-image: url(:/images/tipclose.png);
}

QDialog#FriendRequestDialog QWidget#buttons_widget Customized_button#confirm_btn[state='normal']  {
    background: #f0f0f0;
    color: #2cb46e;
    font-size: 16px; /* 设置字体大小 */
    font-family: "Microsoft YaHei"; /* 设置字体 */
    border-radius: 20px; /* 设置圆角 */
}

QDialog#FriendRequestDialog QWidget#buttons_widget Customized_button#confirm_btn[state='hover'] {
    background: #d2d2d2;
    color: #2cb46e;
    font-size: 16px; /* 设置字体大小 */
    font-family: "Microsoft YaHei"; /* 设置字体 */
    border-radius: 20px; /* 设置圆角 */
}

QDialog#FriendRequestDialog QWidget#buttons_widget Customized_button#confirm_btn[state='pressed'] {
    background: #c6c6c6;
    color: #2cb46e;
    font-size: 16px; /* 设置字体大小 */
    font-family: "Microsoft YaHei"; /* 设置字体 */
    border-radius: 20px; /* 设置圆角 */
}

QDialog#FriendRequestDialog QWidget#buttons_widget Customized_button#cancel_btn[state='normal']  {
    background: #f0f0f0;
    color: #2e2f30;
    font-size: 16px; /* 设置字体大小 */
    font-family: "Microsoft YaHei"; /* 设置字体 */
    border-radius: 20px; /* 设置圆角 */
}

QDialog#FriendRequestDialog QWidget#buttons_widget Customized_button#cancel_btn[state='hover'] {
    background: #d2d2d2;
    color: #2e2f30;
    font-size: 16px; /* 设置字体大小 */
    font-family: "Microsoft YaHei"; /* 设置字体 */
    border-radius: 20px; /* 设置圆角 */
}

QDialog#FriendRequestDialog QWidget#buttons_widget Customized_button#cancel_btn[state='pressed'] {
    background: #c6c6c6;
    color: #2e2f30;
    font-size: 16px; /* 设置字体大小 */
    font-family: "Microsoft YaHei"; /* 设置字体 */
    border-radius: 20px; /* 设置圆角 */
}
#all_tags_displayed {
    background: #E8E8E8;
    border: none;
    border-radius: 4px;
}

/*联系人*/
#contact_list {
    background-color: rgb(247,247,248);
    border: none;
}

#contact_list::item:selected {
    background-color: #d3d7d4;
    border: none;
    outline: none;
}

#contact_list::item:hover {
    background-color: rgb(206,207,208);
    border: none;
    outline: none;
}

#contact_list::focus {
    border: none;
    outline: none;
}

#ContactGroupTipItem {
    background-color: #eaeaea;
    border: none;
}

#ContactGroupTipItem QLabel{
    color: #2e2f30;
    font-size: 12px; /* 设置字体大小 */
    font-family: "Microsoft YaHei"; /* 设置字体 */
    border: none;
}

#add_contact_item {
     border-bottom: 1px solid #eaeaea;
}

/*好友申请页面*/
#FR_title_label {
    font-family: "Microsoft YaHei";
    font-size: 18px;
    font-weight: normal;
}
#FR_title_widget {
    background-color: #f1f2f3;
    border-bottom: 1px solid #ede9e7;
}
#FR_list {
    background-color: #f1f2f3;
    border-left: 1px solid #ede9e7;
    border-top: none;
    border-right: none;
    border-bottom: none;
}
FriendRequestListItem {
    background-color: #f1f2f3;
    border-bottom: 2px solid #dbd9d9;
}
FriendRequestListItem #friend_message_label{
    color: #a2a2a2;
    font-size: 14px; /* 设置字体大小 */
    font-family: "Microsoft YaHei"; /* 设置字体 */
}
FriendRequestListItem #FR_add_btn[state='normal'] {
    background-color: #d3d7d4;
    color: #2cb46e;
    font-size: 16px; /* 设置字体大小 */
    font-family: "Microsoft YaHei"; /* 设置字体 */
    border-radius: 20px; /* 设置圆角 */
}
FriendRequestListItem #FR_add_btn[state='hover'] {
    background-color: #D3D3D3;
    color: #2cb46e;
    font-size: 16px; /* 设置字体大小 */
    font-family: "Microsoft YaHei"; /* 设置字体 */
    border-radius: 20px; /* 设置圆角 */
}
FriendRequestListItem #FR_add_btn[state='press'] {
    background-color: #BEBEBE;
    color: #2cb46e;
    font-size: 16px; /* 设置字体大小 */
    font-family: "Microsoft YaHei"; /* 设置字体 */
    border-radius: 20px; /* 设置圆角 */
}
#already_add_label{
    color:rgb(153,153,153);
    font-size: 12px;
    font-family: "Microsoft YaHei";
}
#friend_name_label{
    color:rgb(0,0,0);
    font-size: 16px;
    font-weight: normal;
    font-family: "Microsoft YaHei";
}
